<div
    class="w-full max-w-[45%] h-[100%] max-md:max-w-[90%] max-md:h-[60vh] max-md:mt-4
    max-sm:max-w-[90%] max-sm:h-[60vh] max-sm:mt-4 text-39 max-md:text-39md max-sm:text-39sm p-6 bg-primary flex flex-col justify-around items-center rounded-md shadow-acent"
>
    <header class="text-acentOrange font-code">About Me</header>
    <p class="text-secondary text-center font-code">
        Driven by curiosity, built on persistence — I craft efficient, reliable
        software with purpose and precision.
    </p>
    <!-- Projects btn -->
    <button
        class="w-[40%] h-[12%] max-sm:w-[55%] max-sm:h-[20%] rounded-md shadow-acent text-acentOrange font-orbitron font-black hover:bg-secondaryLight transition delay-300 duration-300 ease-in-out"
    >
        <a
            class="w-full h-full flex justify-center items-center hover:scale-120 transition delay-300 duration-300 ease-in-out"
            href="/projects"
        >
            Projects
        </a>
    </button>
    <!-- Contact me btn -->
    <button
        class="w-[36%] h-[8%] max-sm:w-[45%] max-sm:h-[15%] rounded-md shadow-acent font-code text-24 max-md:text-24md max-sm:text-24sm text-secondary hover:bg-secondaryLight transition delay-300 duration-300 ease-in-out"
    >
        <a
            class="w-full h-full flex justify-center items-center hover:scale-120 transition delay-300 duration-300 ease-in-out"
            href="/contact"
        >
            Contact Me
        </a>
    </button>
    <div class="w-full max-w-[70%] h-[20%] flex justify-center">
        <img
            class="w-[100%] h-[100%] self-end"
            src="/Transparent Logo.svg"
            alt="logo"
        />
    </div>
</div>
