---
import "../../styles/circleImg.scss";
---

<div
    class="w-full max-w-[35%] h-[100%] max-md:max-w-[90%] max-md:h-[60vh] max-sm:max-w-[90%] max-sm:h-[50vh] p-4 bg-primary flex flex-col justify-around items-center rounded-md shadow-acent"
>
    <div class="circle-small"></div>
    <h1
        class="text-49 max-md:text-49md max-sm:text-49sm text-acentOrange font-orbitron font-black text-shadow-acent"
    >
        Stela Valkova
    </h1>
    <div
        class="text-center text-39 max-md:text-39md max-sm:text-39sm text-secondary font-code font-medium"
    >
        <h2>Software</h2>
        <h2>Developer</h2>
    </div>
    <div
        class="w-[97%] h-[8%] max-md:h-[12%] max-sm:h-[22%] flex justify-between items-center"
    >
        <div
            class="w-[10%] h-[100%] max-sm:w-[22%] hover:bg-secondaryLight rounded-md flex justify-center items-center"
        >
            <a
                class="w-full h-full flex justify-center items-center"
                href="https://www.linkedin.com/in/deyan-valkov-527a79240/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <div
                    class="w-[55%] h-[55%] bg-[url(../assets/mono_icons/linked-in-50_gray.svg)] bg-no-repeat bg-center bg-contain hover:scale-120 transition delay-300 duration-300 ease-in-out"
                >
                </div>
            </a>
        </div>
        <div
            class="w-[10%] h-[100%] max-sm:w-[22%] hover:bg-secondaryLight rounded-md flex justify-center items-center"
        >
            <a
                class="w-full h-full flex justify-center items-center"
                href="https://github.com/ValkovD"
                target="_blank"
                rel="noopener noreferrer"
            >
                <div
                    class="w-[55%] h-[55%] bg-[url(../assets/mono_icons/github-50_gray.svg)] bg-no-repeat bg-center bg-contain hover:scale-120 transition delay-300 duration-300 ease-in-out"
                >
                </div>
            </a>
        </div>
    </div>
</div>
