---
import Layout from "../../../layouts/Layout.astro";
import ProjectItem from "../../../components/ProjectItem.astro";
import UnderConstruction from "../../../components/UnderConstruction.astro";
---

<Layout>
    <div
        class="w-[100%] h-[85%] flex justify-around max-md:flex-col max-md:justify-between items-center"
    >
        <UnderConstruction />
    </div>
</Layout>
