<div
    class="w-full max-w-[30%] h-[100%] p-8 max-md:max-w-[90%] max-md:h-[50vh] max-md:mt-4 max-sm:mt-4 bg-primary flex flex-col justify-between items-center text-center rounded-md shadow-acent font-code"
>
    <header>
        <p
            class="font-orbitron text-39 max-md:text-39md max-sm:text-39sm text-acentOrange font-black"
        >
            Details
        </p>
    </header>

    <div
        class="w-[18%] h-[18%] bg-[url(/src/assets/mono_icons/github-50_gray.svg)] bg-no-repeat bg-center bg-contain max-sm:w-[20%] max-sm:h-[20%]"
    >
    </div>
    <a
        class="px-4 rounded-sm text-30 max-md:text-30md max-sm:text-30sm text-secondary hover:text-acentOrange hover:bg-secondaryLight hover:scale-104 transition duration-200"
        href="https://github.com/ValkovD"
        target="_blank"
        >My Git Hub
    </a>

    <div
        class="w-[18%] h-[18%] bg-[url(/src/assets/mono_icons/linked-in-50_gray.svg)] bg-no-repeat bg-center bg-contain max-sm:w-[20%] max-sm:h-[20%]"
    >
    </div>
    <a
        class="size-fit px-4 rounded-sm text-30 max-md:text-30md max-sm:text-30sm text-secondary hover:text-acentOrange hover:bg-secondaryLight hover:scale-104 transition duration-200"
        href="https://www.linkedin.com/in/deyan-valkov-527a79240/"
        target="_blank"
        >My LinkedIn Profile
    </a>

    <div
        class="w-[18%] h-[18%] bg-[url(/src/assets/mono_icons/mailbox-50.svg)] bg-no-repeat bg-center bg-contain max-sm:w-[20%] max-sm:h-[20%]"
    >
    </div>
    <p class="text-30 max-md:text-30md max-sm:text-30sm text-secondary">
        deyanvalkov@aol.com
    </p>
</div>
