<form
    action="https://formspree.io/f/mdojdzok"
    method="post"
    class="w-full max-w-[40%] h-[100%] p-8 max-md:max-w-[90%] max-md:h-[65vh] max-sm:h-[65vh] max-md:mt-4 max-sm:mt-4 bg-primary flex flex-col justify-between items-center rounded-md shadow-acent font-code text-24 max-sm:text-24sm"
>
    <header>
        <p
            class="font-orbitron text-39 max-md:text-39md max-sm:text-39sm text-acentOrange font-black"
        >
            Send Message
        </p>
    </header>
    <input
        type="email"
        name="email"
        id=""
        placeholder="e-mail"
        class="w-full max-w-[90%] h-[7%] max-md:h-[12%] text-24 max-md:text-24md max-sm:text-30sm p-2 border-2 border-secondaryLight rounded-sm text-secondary"
    />
    <input
        type="text"
        name="name"
        id=""
        placeholder="name"
        class="w-full max-w-[90%] h-[7%] max-md:h-[12%] text-24 max-md:text-24md max-sm:text-30sm p-4 border-2 border-secondaryLight rounded-sm text-secondary"
    />

    <textarea
        name="message"
        id=""
        placeholder="your message......."
        class="w-full max-w-[90%] h-[35%] max-md:h-[50%] text-24 max-md:text-24md max-sm:text-30sm p-2 border-2 border-secondaryLight rounded-sm text-secondary"
    >
    </textarea>
    <button
        class="w-full max-w-[40%] h-[10%] max-sm:max-w-[70%] max-sm:h-[15%] rounded-md shadow-acent text-39 max-md:text-39md max-sm:text-39sm text-acentOrange font-orbitron font-black hover:bg-secondaryLight transition delay-300 duration-300 ease-in-out"
    >
        <span
            class="w-full h-full flex justify-center items-center hover:scale-120 transition delay-300 duration-300 ease-in-out"
        >
            send
        </span>
    </button>
</form>
