---
import Layout from "../layouts/Layout.astro";
import MeDeveloper from "../components/home_page/MeDeveloper.astro";
import Bio from "../components/home_page/Bio.astro";
---

<Layout>
	<div
		class="h-[100%] flex justify-around max-md:flex-col max-md:justify-between items-center"
	>
		<MeDeveloper />
		<Bio />
	</div>
</Layout>
