<!-- Master -->
<div
    class="w-full max-w-[30%] h-[100%] overflow-auto max-md:max-w-[90%] max-md:h-fit max-md:mt-4 max-sm:mt-4 p-4 bg-primary flex flex-col justify-around items-center rounded-md shadow-acent"
>
    <header>
        <p
            class="font-orbitron text-39 max-md:text-39md max-sm:text-39sm text-acentOrange font-black"
        >
            Master
        </p>
    </header>
    <div
        class="w-[20%] h-[17%] bg-[url(/src/assets/mono_icons/university-100.png)] bg-no-repeat bg-center bg-contain"
    >
    </div>
    <p
        class="text-center text-secondary font-code text-24 max-md:text-24md max-sm:text-24sm"
    >
        Master’s Degree in Business Management
    </p>
    <p
        class="text-center text-secondary font-code font-regular text-18 max-md:text-18md max-sm:text-18sm"
    >
        D. A. Tsenov Academy of Economics | Bulgaria Earned a Master’s degree
        with a focus on advanced business strategy, leadership, and
        organizational development. This experience enhanced my ability to think
        critically, manage complex projects, and align business goals with
        practical solutions — skills I now leverage in my work as a full-stack
        developer. My business background enables me to build applications that
        not only function well technically but also deliver real value from a
        strategic and user-focused perspective.
    </p>
</div>
