---

---

<div
    class="w-full max-w-[100vw] h-[80vh] p-4 flex flex-col items-center text-secondary"
>
    <header class="text-center">
        <h1
            class="typewriter text-49 max-md:text-49md max-sm:text-49sm font-black font-orbitron text-primary overflow-hidden border-r-2 border-acentOrange whitespace-nowrap"
        >
            Under Construction
        </h1>
        <p
            class="text-30 max-md:text-30md max-sm:text-30sm font-regular font-code text-primary"
        >
            Page Coming Soon .....
        </p>
    </header>

    <main class="w-full max-w-[90%] h-[80%] flex items-center justify-between">
        <div
            class="drive w-[20%] h-[20%] max-md:w-[60%] max-md:h[60%] bg-[url(/src/assets/mono_icons/orange_excavator-100.png)] bg-no-repeat bg-center bg-contain"
        >
        </div>
        <!-- <div
            class="w-full max-w-[100vw] h-[80vh] p-4 flex flex-col items-center justify-center text-secondary"
        >
        </div> -->
        <div
            class="vibrate w-[20%] h-[20%] max-md:w-[60%] max-md:h[60%] bg-[url(/src/assets/mono_icons/orange_hammer-100.png)] bg-no-repeat bg-center bg-contain"
        >
        </div>
    </main>
</div>
