<div
    class="w-full max-w-[45%] h-[100%] max-md:max-w-[90%] max-md:h-[50vh] max-md:mt-4 max-sm:mt-4 p-4 bg-primary flex flex-col justify-between items-center rounded-md shadow-acent"
>
    <header>
        <p
            class="font-orbitron text-39 max-md:text-39md max-sm:text-39sm text-acentOrange font-black"
        >
            Front End
        </p>
    </header>
    <main
        class="w-full max-w-[100%] h-[90%] flex flex-col items-center justify-around text-secondary"
    >
        <div
            class="w-full max-w-[100%] h-[30%] font-code text-20 p-4 bg-primary flex items-center text-secondary"
        >
            <!-- 3 icons -->
            <div
                class="w-[50%] h-[50%] max-md:w-[70%] max-md:h-[70%] text-18 max-md:text-18md max-sm:text-18sm text-center font-code"
            >
                <div
                    class="w-[100%] h-[100%] bg-[url(/src/assets/mono_icons/javascript-100.svg)] bg-no-repeat bg-center bg-contain"
                >
                </div>
                <p>JS</p>
            </div>
            <!-- arrows -->
            <div
                class="w-[30%] h-[30%] max-md:w-[70%] max-md:h-[70%] bg-[url(/src/assets/mono_icons/arrows-horizontal-100.png)] bg-no-repeat bg-center bg-contain"
            >
            </div>
            <div
                class="w-[50%] h-[50%] max-md:w-[70%] max-md:h-[70%] text-18 max-md:text-18md max-sm:text-18sm text-center font-code"
            >
                <div
                    class="w-[100%] h-[100%] bg-[url(/src/assets/mono_icons/html-5-100.svg)] bg-no-repeat bg-center bg-contain"
                >
                </div>
                <p>HTML</p>
            </div>
            <!-- arrows -->
            <div
                class="w-[30%] h-[30%] max-md:w-[70%] max-md:h-[70%] bg-[url(/src/assets/mono_icons/arrows-horizontal-100.png)] bg-no-repeat bg-center bg-contain"
            >
            </div>
            <div
                class="w-[50%] h-[50%] max-md:w-[70%] max-md:h-[70%] text-18 max-md:text-18md max-sm:text-18sm text-center font-code"
            >
                <div
                    class="w-[100%] h-[100%] bg-[url(/src/assets/mono_icons/css-100.svg)] bg-no-repeat bg-center bg-contain"
                >
                </div>
                <p>CSS</p>
            </div>
        </div>
        <div
            class="flex flex-col items-center text-secondary font-code text-39 max-md:text-39md max-sm:text-39sm"
        >
            <!-- projects -->
            <a
                class="px-4 rounded-sm hover:text-acentOrange hover:bg-secondaryLight hover:scale-104 transition duration-200"
                href="/projects/front_end/expense-tracker">Expense-Tracker</a
            >
            <p>and</p>
            <p>more coming soon ....</p>
            <!-- <a
                class="px-4 rounded-sm hover:text-acentOrange hover:bg-secondaryLight hover:scale-104 transition duration-200"
                class=""
                href="">x-and-o-game</a
            >
            <a
                class="px-4 rounded-sm hover:text-acentOrange hover:bg-secondaryLight hover:scale-104 transition duration-200"
                href="">WeathrAP</a
            > -->
        </div>
    </main>
</div>
