---
const { text } = Astro.props;
---

<span
    class="absolute left-full ml-2 opacity-0 scale-x-0 origin-left bg-primary text-acentOrange text-20 font-bold font-code px-2 py-1 border-1 rounded-2xl transition-all duration-300 group-hover:opacity-100 group-hover:scale-x-100"
>
    {text}
</span>
